.header-section {
    background-color: brown;
    height: 95px;
    width: 100%;
    text-align: center;
    justify-content: flex-end;
    position: fixed;
    top: 0
}

.list-nav {
    display: flex;
    margin-right: 2rem;
    font-size: 2.2rem;
}

#navbar {
    margin-right: 5rem;
    display: flex;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3a3d40;
    font-size: 2rem;
    font-style: italic;
    color: white;

}

.project-section-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-img {
    height: calc(111% - 5.8rem);
    width: 100%;
    object-fit: cover;

}

img {
    display: block;
}

.projects-section {
    text-align: center;
    padding: 80px;
    background: lightblue;
}

.projects-section-heading {
    max-width: 640px;
    margin: 0 auto 6rem auto;

    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
}

.project-tile {
    background: gray;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

a {
    text-decoration: none;
    color: white;
}

.project-title {
    font-size: 1rem;
    padding: 1rem .5rem;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background-color: #3a3d40;
}

.contact-section-header {
    font-size: 2rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0px;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

.contact-details {
    font-size: 2.4rem;
    padding: 1rem 2rem;
}

.footer-section {
    color: white;
    background-color: #3a3d40;
}

@media only screen and (max-width: 780px) {
    img {
        width: 300px;
        height: 300px;
    }
}